/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color: #f8f8ff;
}

body, p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  border-bottom: solid 0.2em;
}

header#head {
  background: MediumSeaGreen;
  padding: 1em 1.6em;
  border-bottom-color: SeaGreen;
  border-bottom-width: 0.7em;
  border-bottom-style: solid;
}

header h1 {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Verdana, Arial, Tahoma;
  font-size: 1.6em;
}

header a {
  color: White;
}

#code {
  margin: 0;
}

#code code {
  margin: 0;
  padding: 2em;
}

#create-snippet-form {
  margin: 1em auto 0;
  display: block;
  width: 75%;
}

#create-snippet-form input, #create-snippet-form textarea {
  margin: 0.3em;
}

#create-snippet-form input[type=text] {
  width: 100%;
}

#create-snippet-form textarea {
  width: 100%;
  height: 20em;
  resize: none;
}
