body {
  background-color: #f8f8ff;
}

body, p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  border-bottom: solid 0.2em;
}

header#head {
  background: MediumSeaGreen;
  padding: 1em 1.6em;
  border-bottom-color: SeaGreen;
  border-bottom-width: 0.7em;
  border-bottom-style: solid;
}

header h1 {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Verdana, Arial, Tahoma;
  font-size: 1.6em;
}

header a {
  color: White;
}

#code {
  margin: 0;
  display: block;
}

#code code {
  margin: 0;
  padding: 2em;
}

#create-snippet-form {
  margin: 1em auto 0;
  display: block;
  width: 75%;
}

#create-snippet-form input, #create-snippet-form textarea {
  margin: 0.3em;
}

#create-snippet-form input[type=text] {
  width: 100%;
}

#create-snippet-form textarea {
  width: 100%;
  height: 20em;
  resize: none;
}

#buttons {
  position: relative;
}

#buttons .button_to, #buttons .button_to div {
  display:inline;
}

#buttons input {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
